@charset "UTF-8";
body {
    background-image:linear-gradient(to bottom, #63B4D1 05%, #DD99BB 60%) ;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-attachment: fixed;
}
h1 {
    font-size: 48px;
    color: white;
}
p {
   
   color: white;
}